.home{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #FFFFFF;
}
img{
    min-width: 0px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.menu{
    width: 100%;
    max-width: 1278px;
    margin: 0 auto;   
}

.navigation{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}
.frame17{
    align-content: center;
}
.menubutton{
    margin: 0px 36px 0px 0px;
}
.button{
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 20px 11px 20px;
}
.line4{
    width: 100%;
    height: 2px;
    background-color: #404040;
}
.frame16{
    width: 100%;
    max-width: 1276px;
    margin: 232px 323px 64px 321px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rect img{
    max-width: 100%;
    height: auto;
}
.group51{
    width: 100%;
}
.group51 img{
    max-width: 100%;
    height: auto;
}
.group50{
    min-width: 365px;
}
.dbs{
    font-size: 60px;
}
.group48{
    font-size: 30px;
    font-style: italic;
}
.group50 p{
    width: 100%;
    margin: 24px 0px 40px 0px;
    max-width: 350px;
    font-size: 16px;
}
.group50 a{
    box-sizing: border-box;
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 16px 33px 16px 33px;
}
.group44{
    width: 100%;
    max-width: 1244px;
    margin: 0px 351px 64px 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.group44 img{
    max-width: 100%;
    height: auto;
}
.frame15{
    width: 100%;
    max-width: 636px;
    margin: 60px 0px 122px 46px;

}
.frame15 p{
    margin: 0px 0px 40px 0px;
    font-size: 20px;
}
.frame15 a{
    box-sizing: border-box;
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 16px 33px 16px 33px;
}
.group39{
    width: 100%;
    max-width: 1296px;
    margin: 0px 304px 55px 320px;
    background: linear-gradient(to right, #91282F, #330002);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.group39 img{
    max-width: 100%;
    height: auto;
    margin: 44px 113px 16px 0px;
}
.group37{
    margin: 66px 0px 67px 62px;
    width: 426px;
}
.group37 h1{
    font-size: 36px;
    margin: 0px;
}
.group37 p{
    margin: 8px 0px 25px 0px;
    font-size: 17px;
}
.group37 a{
    box-sizing: border-box;
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 13px 65px 13px 65px;
    background-color: #000000;
}
.group46{
    background-color: #FFFFFF;
    border-color: #A4A4A4;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group46 p{
    color:#000000;
}
.group17{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1310px;
}
.group17 p{
    margin: 14px 0px 64px 0px;
    text-align: center;
}
.group17 img{
    margin: 48px 0px 30px 0px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #A4A4A4;
}
.group41{
    width: 100%;
    max-width: 1316px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.group41 p{
    margin: 22px 0px 19px 0px;
    font-size: 12px;
}
.documents{
    margin: 21px 0px 19px 0px;
}
.documents a{
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}
.politica{
    margin: 0px 25px 0px 0px;
}
@media (max-width: 1645px) {
    body{
        margin: 0px;
    }
    .menubutton{
        margin: 0px 32px 0px 0px;
    }
    .main{
        margin: 32px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .frame16{
        width: 100%;
        max-width: 1276px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .frame16 img{
        max-width: 100%;
        height: auto;
    }

    .dbs{
        font-size: 60px;
    }
    .group48{
        font-size: 30px;
        font-style: italic;
    }
    .group50 p{
        width: 100%;
        margin: 24px 0px 40px 0px;
        max-width: 350px;
        font-size: 16px;
    }
    .group50 a{
        box-sizing: border-box;
        border-color: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 16px 33px 16px 33px;
    }
    .group44{
        width: 100%;
        max-width: 1244px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    .group44 img{
        max-width: 100%;
        height: auto;
    }
    .frame15{
        width: 100%;
        max-width: 636px;
        margin: 60px 0px 122px 46px;
    
    }
    .frame15 p{
        margin: 0px 0px 40px 0px;
        font-size: 20px;
    }
    .frame15 a{
        box-sizing: border-box;
        border-color: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 16px 33px 16px 33px;
    }
    .group39{
        width: 100%;
        max-width: 1296px;
        margin: 0px;
        background: linear-gradient(to right, #91282F, #330002);
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .group39 img{
        max-width: 100%;
        height: auto;
        margin: 0px;
    }
    .group37{
        margin: 66px 0px 67px 62px;
        width: 426px;
    }
    .group37 h1{
        font-size: 36px;
        margin: 0px;
    }
    .group37 p{
        margin: 8px 0px 25px 0px;
        font-size: 17px;
    }
    .group37 a{
        box-sizing: border-box;
        border-color: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 13px 65px 13px 65px;
        background-color: #000000;
    }
    .group46{
        background-color: #FFFFFF;
        border-color: #A4A4A4;
        border-width: 2px;
        border-style: solid;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .group46 p{
        color:#000000;
    }
    .group17{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1310px;
    }
    .group17 p{
        margin: 14px 0px 64px 0px;
        text-align: center;
    }
    .group17 img{
        margin: 48px 0px 30px 0px;
    }
    .line{
        width: 100%;
        height: 2px;
        background-color: #A4A4A4;
    }
    .group41{
        width: 100%;
        max-width: 1316px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .group41 p{
        margin: 22px 0px 19px 0px;
        font-size: 12px;
    }
    .documents{
        margin: 21px 0px 19px 0px;
    }
    .documents a{
        font-size: 14px;
        text-decoration: none;
        color: #000000;
    }
    .politica{
        margin: 0px 25px 0px 0px;
    }

    
}
@media screen and (max-width: 764px){
    .main{
        width: 100%;
        max-width: 100%;
    }
    .menubutton{
        margin: 0px;
    }
    .frame16{
        display: flex;
        flex-direction: column-reverse;
    }
    .group44{
        display: flex;
        flex-direction: column;
    }
    .group39{
        display: flex;
        flex-direction: column-reverse;
    }
    .group41{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .frame15{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 636px;
        margin: 60px 0px 122px 0px;
    }
    .frame15 p{
        margin: 8px 8px 40px 8px;
        font-size: 20px;
        text-align: justify;
    }
    .group37{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 66px 0px 66px 0px;
        width: 100%;
        max-width: 426px;
    }
    .group37 h1{
        font-size: 36px;
        margin: 0px 8px;
    }
    .group37 p{
        margin: 8px 8px 25px 8px;
        font-size: 17px;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button{
        padding: 4px 8px 4px 8px;
    }
    .group50{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
